// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS

@import "components/actions";
@import "components/videobox";
@import "components/footer";
@import "components/caroussel";
@import "components/navbar2";
@import "components/tab2";

@import "pages/contact";
@import "pages/home";

@import "vendor/*";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-width: 100%;
  margin: 0;
}
