// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS

@import "components/actions";
@import "components/footer";
@import "components/videobox";
@import "components/bandeaux";
@import "components/caroussel";
@import "components/navbar2";
@import "components/tab2";

@import "layout/breakpoint";

@import "pages/commun";
@import "pages/contact";
@import "pages/equipe";

@import "pages/tests";

@import "vendor/*";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-width: 100%;
  margin: 0;
  background: linear-gradient(rgba(150, 150, 150, 0.8), rgba(36, 74, 144, 0.3));
}

/*Attention*/
/* La classe DescLeft h2 et DescLeft h3 servent pour les titres de section encadrés en bleu */

