// la class actionsbar est utilisé dans le footer également
.actionsbar {
  padding-top: 10px;
  position: relative;
  text-align: center;
  height: 60px;
  background: linear-gradient(0.25turn, #142F5F, #27509B);
  color: white;
  transition: ease-in-out 300ms;
}



.esf-row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.esf-column {
  flex: 33%;
  max-width: 33%;
}

.esf-column img {
  vertical-align: middle;
  width: 100%;
}

.esf-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}

.esf-imgbox {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transform-orign: center;
}

.middle {
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.esf-imgbox:hover .esf-img {
  opacity: 0.4;
  transform: scale(1.2);
}

.esf-imgbox:hover .middle {
  opacity: 1;
}

.texte {
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 24px;
  font-weight: bolder;
  padding: 12px 26px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 991.98px) {
  .esf-column {
    flex: 33%;
    max-width: 33%;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767.98px) {
  .esf-column {
    flex: 100%;
    max-width: 100%;
  }

  .actionsbar {
    font-size: 30px;
    line-height: 4rem;
  }
}
