// la class actionsbar est utilisé dans le footer également
.actionsbar {
  padding: 10px 0px 8px 0px;
  position: relative;
  text-align: center;
  height: 60px;
  background: linear-gradient(0.25turn, #142F5F, #27509B);
  width: 100%;
  color: white;
  transition: ease-in-out 300ms;
}

.esf-row {
  display: flex;
  flex-wrap: wrap;
}

/* Create 3 equal columns that sits next to each other */
.esf-column {
  flex: 33.33%;
  max-width: 33.33%;
}

.esf-column img {
  vertical-align: middle;
  width: 100%;
}

.esf-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: ease-in-out 300ms;
}

.esf-imgbox {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transform-orign: center;
  transition: ease-in-out 300ms;
}

.middle {
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.esf-imgbox:hover .esf-img {
  opacity: 0.4;
  transform: scale(1.1);
  transition: all ease-in-out 800ms;
}

.esf-imgbox:hover .middle {
  opacity: 1;
}

.texte {
  border-radius: 4px;
  background-color: white;
  color: black;
  font-family: Merienda;
  font-size: 2.5rem;
  // font-weight: bolder;
  padding: 12px 26px;
}


@media screen and (max-width: 991.98px) {
  .esf-column {
    flex: 33%;
    max-width: 33%;
  }
  .actionsbar {
    font-size: 2rem;
  }

  .texte {
  font-size: 2.2rem;
  padding: 8px 16px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767.98px) {
  .esf-column {
    flex: 100%;
    max-width: 100%;
  }
  .actionsbar {
   font-size: 2.2rem;
   line-height: 4rem;
  }
}
