.footer-cadre {
  margin: 0 auto;
  background: white;
  padding: 4px 0px;
  max-width: 60%;
  min-width: 500px;
}

.footer-cadre ul li a {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer-cadre ul li a:hover {
  color: #da552f;
  cursor: pointer;
  text-decoration: none;
  transition: all ease-in-out 100ms;
}

.gafa-icon {
  height: 20px;
}
.gafa-icon:hover {
  transform: scale(1.2);
}
