.framebox {
  position: relative;
  overflow: hidden;
}

.slideshow {
   width: 300px*11;
   height: 150px;
   overflow: hidden;
   border: 3px solid #F2F2F2;
}

.slideshow ul {
    /* 11 images donc 11 x 100% */
   width: 1100%;
   height: 150px;
   padding:0; margin:0;
   list-style: none;
}
.slideshow li {
   float: left;
}


@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}
