/* Main navbar */
.navbar-name {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
  background: linear-gradient(0.25turn, #142F5F, #27509B);
  height: 50px;
  width: 100%;
  box-shadow: 0px 1px 2px 3px;
  transition: all ease-in-out 700ms;
}

/* Logo */
.navbar-brand-name a img {
  margin-left: 4px;
  transition: all ease-in-out 700ms;
  height: 46px;
  border-radius: 1px;
}

/* Dropdown menu */
.navbar-name-dropdown-menu {
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  background: linear-gradient(0.25turn, #142F5F, #27509B);
}
.navbar-name-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: white !important;
  font-size: 15px !important;
  padding: 10px 20px;
  text-decoration: none;
}
.navbar-name-dropdown-menu li > a:hover {
  background: #5170A9 !important;
  color: black !important;
}
.navbar-name-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 0px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
}

.dropdown i {
  color:white;
}

#nfi1 {
  color: white;
  padding-left: 20px;
}
