.bandbox {
  position: relative;
  overflow: hidden;
  transform-origin: center;
}

.band-title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 6rem;
  background: linear-gradient(0.25turn, #142F5F, #27509B);
  border-radius: 4px;
  padding: 10px 20px;
  opacity: 0.9;
}

.responsive {
  width: 100%;
  height: auto;
  min-height: 80px;
  margin: 0;
  padding: 0;
}

.DescMainBox {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  background: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.DescLeft {
  width: 100%;
  text-align: left;
  padding-right: 30px;
}

.DescLeft h2 {
  color: white;
  background: linear-gradient(0.25turn, #142F5F, #27509B);
  width: 70%;
  border-radius: 2px;
  font-size: 2.8rem;
  padding: 10px 0px 10px 10px;
}

.DescLeft p {
  margin: 0px 60px;
  font-size: 18px;
}

.DescRight {
  text-align: center;
  width: 100%;
}

.DescRight-element {
  margin:22px 0px 0px 0px;
  border-radius: 4px;
}

.whitebox {
  background: white;
  border-radius: 4px;
  padding: 4px 0px 20px 0px;
}

.whitebox h3 {
  color: white;
  background: linear-gradient(0.25turn, #142F5F, #27509B);
  text-align: center;
  padding: 10px 0px 8px 0px;
}

.esflexbox {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 991.98px) {
  .band-title {
    top: 10%;
    left: 50%;
    font-size: 5rem;
  }

  .DescRight-element {
    height: auto;
  }

  .DescLeft h2 {
    font-size: 2.4rem;
    padding: 8px 20px 12px 14px;
  }

  .DescLeft {
    padding-right: 0px;
  }

  .DescLeft p {
    margin: 0px 30px;
    font-size: 16px;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767.98px) {
  .band-title {
    top: 9%;
    left: 50%;
    font-size: 4rem;
    border-radius: 2px;
  }

  .DescMainBox {
  flex-direction: column;
  }

  .DescRight-element {
    height: auto;
  }

  .DescLeft h2 {
    font-size: 2.3rem;
    padding: 10px 0px 10px 10px;
    border: 1px green solid;
  }

  .DescLeft p {
    font-size: 15px;
  }

}
