/*Les bandeaux de chaque page sont dans bandeaux.scss*/

.band-title {
  transform-origin: center;
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: white;
  background: linear-gradient(0.25turn, #142F5F, #27509B);
  border-radius: 4px;
  padding: 10px 20px;
  opacity: 0.9;
  width: 450px;
  top: 80px;
  transform: scale(1.2);
  transition: ease 300ms;
  border: 2px white solid;
  box-shadow: 0px 1px 1px 1px black;
}

// .responsive {
//   width: 100%;
//   height: auto;
//   min-height: 80px;
//   margin: 0;
//   padding: 0;
// }

.DescMainBox {
  display: flex;
  padding-top: 4px;
  background: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.DescLeft {
  position: relative;
  width: 100%;
  margin: 4px;
}

.textcenterbox {
  text-align: center;
  padding: 20px 20px;
  width: 70%;
  margin: 4px 4px;
  border-radius: 2px;
  font-size: 14px;
}

.textjustifybox {
  width: 100%;
  margin: 4px 4px;
  border-radius: 2px;
  font-size: 14px;
}


.DescRight {
  position: relative;
  width: 100%;
  margin: 4px;
}

.DescRight-element {
  margin:22px 0px 0px 0px;
  border-radius: 4px;
}

.whitebox {
  background: white;
  padding: 4px 0px 20px 0px;
}

.esflexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.flagflexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 40px;
}

.flagbg {
  background-color: #a9a9a9;
  padding: 20px 30px 0px 30px;
  text-align: center;
  max-width: 80%;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
}

.ifMainFbox {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  background: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.ifcontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border-radius: 4px;
}

.card {
  width: 100%;
  border: none;
}

.card-title {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 8px;
}

.PersonCard {
  margin: 10px auto;
  width: 250px;
  text-align: center;
}

.PersonCard h4 {
  font-weight: bolder;
}

.img-rounded {
  margin: 4px;
  height: 150px;
  border-radius: 50%;
}

.horivertalign {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card.card-body p {
  padding: 40px 40px;
  text-justify: auto;
}

/*format tablettes------------------------------------------------*/
@media screen and (max-width: 991.98px) {
  .bandbox {
    height: 160px;
  }

  .band-title {
    transform: scale(0.8);
    top: 42px;
  }

  .DescRight-element {
    height: auto;
  }

  .DescLeft {
    display: flex;
    flex-direction: column;
  }

  .DescLeft p {
    margin: 0px 30px;
    font-size: 16px;
  }

  .ifMainFbox {
    flex-wrap: wrap;
  }
}

/* Format téléphone ------------------------------------------------*/
@media screen and (max-width: 767.98px) {
  .bandbox {
    height: 110px;
  }

  .band-title {
    border-radius: 3px;
    margin: 0 auto;
    font-size: 24px;
    padding: 8px 14px;
    width: 380px;
    white-space: nowrap;
    top: 30px;
  }

  .DescMainBox {
    flex-direction: column;
  }

  .DescRight-element {
    height: auto;
  }

  .DescLeft p {
    font-size: 15px;
  }

  .flagbg {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
  }

  .ifMainFbox {
    flex-wrap: wrap;
  }

  .card.card-body p {
  padding: 10px 10px;
  text-justify: auto;
  text-align: justify;
  }
}
