/*Visual breakpoint*/
#Breakpoint {
  color: red;
}

@media screen and (max-width: 991.98px) {
  #Breakpoint {
    color: orange;
  }
/*don't forget to add this too !*/


}
@media screen and (max-width: 767.98px) {
  #Breakpoint {
    color: green;
  }


/*don't forget to add this too !*/



}

/*Fin Visual breakpoint*/


/*En cours de développement*/



