/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
 @import url('https://fonts.googleapis.com/css?family=Jomolhari|roboto&display=swap');
  $base-font: "Jomolhari", "Helvetica", "sans-serif";
  $header-font: "roboto", "Helvetica", "sans-serif";

//Local fonts (uncomment following lines)
@font-face {
  font-family: "BriemScriptStd-Regular";
  src: font-url('fonts/BriemScriptStd-Regular.otf');
  src: url('fonts/BriemScriptStd-Regular.eot');
  src: url('fonts/BriemScriptStd-Regular.otf') format('truetype'),
       url('fonts/BriemScriptStd-Regular.woff') format('woff'),
       url('fonts/BriemScriptStd-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/BriemScriptStd-Regular.svg#QuadrantaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: font-url('fonts/Metropolis.otf');
  src: url('fonts/Metropolis.eot');
  src: url('fonts/Metropolis.otf') format('truetype'),
       url('fonts/Metropolis.woff') format('woff'),
       url('fonts/Metropolis.eot?#iefix') format('embedded-opentype'),
       url('fonts/Metropolis.svg#QuadrantaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}



// Font-size and line-height
$base-size: 14px;
$base-height: 1.2;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$body-bg:   red;
$nav-bg: linear-gradient(0.25turn, #142F5F, #27509B);
$footer-bg: #6A0702;
$text-bg: #333;
$blackopak-bg: rgba(0,0,0,0.5);
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #244A90;
$yellow: #9D8032;
$orange: #f28e37;
$green: #32B796;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee



