<div class="actionsbar">
  <h1>NOS ACTIONS</h1>
</div>

<div class="esf-row">
  <div class="esf-column">
    <img src="images/ActionsInfoca.jpg">
    <img src="images/ActionsCom.jpg">
    <img src="images/ActionsElect.jpg">
    <img src="images/ActionsPolSpa.jpg">
    <img src="images/ActionsFisc.jpg">
  </div>
  <div class="esf-column">
    <img src="images/ActionsCE.jpg">
    <img src="images/ActionsPolMig.jpg">
    <img src="images/ActionsBrexit.jpg">
    <img src="images/ActionsNum.jpg">
    <img src="images/ActionsDefEurop.jpg">
  </div>
  <div class="esf-column">
    <img src="images/ActionsEnv.jpg">
    <img src="images/ActionsEuro.jpg">
    <img src="images/ActionsCult.jpg">
    <img src="images/ActionsMedia.jpg">
    <img src="images/ActionsMedia.jpg">
  </div>
</div>
