<div class="actionsbar">
  <h1>NOS ACTIONS</h1>
</div>

<div class="esf-row">
  <div class="esf-column">
    <div class="esf-imgbox">
    <img src="images/ActionsInfoca.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Infocartoon</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsCom.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">ESF Comments</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsElect.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Elections Européennes</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsPolSpa.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Politique spatiale</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsFisc.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Fiscalité</div>
      </div>
    </div>
  </div><!--fin column-->
  <div class="esf-column">
    <div class="esf-imgbox">
    <img src="images/ActionsCE.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Citoyenneté europeénne</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsPolMig.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Politique migratoire</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsBrexit.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Brexit</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsNum.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Numérique</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsDefEurop.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Défense européenne</div>
      </div>
    </div>
  </div><!--fin column-->
  <div class="esf-column">
    <div class="esf-imgbox">
    <img src="images/ActionsEnv.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Environnement</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsEuro.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Euro</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsCult.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Culture</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsMedia.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Médias</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsMedia.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">Médias</div>
      </div>
    </div>
  </div><!--fin column-->
</div><!--fin row-->
