<h1 id="nosactions" class="actionsbar">NOS ACTIONS</h1>


<div class="esf-row">
  <div class="esf-column">
    <div class="esf-imgbox">
    <img src="images/ActionsInfoca.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">INFOCARTOON</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsCom.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">ESF COMMENTS</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsElect.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">ELECTIONS EUROPÉENNES</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsPolSpa.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">POLITIQUE SPACIALE</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsFisc.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">FISCALITÉ</div>
      </div>
    </div>
  </div><!--fin column-->
  <div class="esf-column">
    <div class="esf-imgbox">
      <a href="../citoyeuro.html">
    <img src="images/ActionsCE.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">CITOYENNETÉ EUROPÉENNE</div>
      </div></a>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsPolMig.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">POLITIQUE MIGRATOIRE</div>
      </div>
    </div>
    <div class="esf-imgbox">
      <a href="../brexit.html">
    <img src="images/ActionsBrexit.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">BREXIT</div>
      </div></a>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsNum.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">NUMÉRIQUE</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsDefEurop.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">DÉFENSE EUROPÉENNE</div>
      </div>
    </div>
  </div><!--fin column-->
  <div class="esf-column">
    <div class="esf-imgbox">
    <img src="images/ActionsEnv.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">ENVIRONNEMENT</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsEuro.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">EURO</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <a href="culture.html">
    <img src="images/ActionsCult.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">CULTURE</div>
      </div></a>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsMedia.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">MÉDIAS</div>
      </div>
    </div>
    <div class="esf-imgbox">
    <img src="images/ActionsEmpty.jpg" class="esf-img" style="width:100%">
      <div class="middle">
        <div class="texte">ESPACE LIBRE</div>
      </div>
    </div>
  </div><!--fin column-->
</div><!--fin row-->

