<div class="banner">
  <h1>Tout va changer</h1>

   <div class="flexbox">
      <img src="../images/img_index.jpg" alt="index" height="350px">
    </div><!-- fin flexbox -->
</div><!-- fin banner -->
