 <h1 class="actionsbar">EN SAVOIR PLUS</h1>
 <footer>
    <div class="footer-cadre whitebox">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="text-center">
            <h5 class="footitle">QUI SOMMES-NOUS ?</h5>
              <ul>
                <li><%= link_to 'L\'association','association.html'  %></li>
                <li><%= link_to 'Notre équipe', 'equipe.html' %></li>
                <li><a href="nosobjectifs.html">Nos objectifs</a></li>
                <li><a href="nosparten.html">Nos partenaires</a></li>
              </ul>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="text-center">
            <h5 class="footitle">ACTIONS EN COURS</h5>
              <ul>
                <li><a href="infocartoon.html">INFOCARTOON</a></li>
                <li><a href="eurocolo.html">EUROCOLO</a></li>
                <li><a href="eurofort.html">EUROFORT</a></li>
                <li><a href="icevoters.html">ICE : Voters Without Borders</a></li>
                <li><a href="passeport.html">Passeport européen</a></li>
              </ul>
          </div>
        </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center">
              <h5 class="footitle">PARTICIPEZ</h5>
              <ul>
                <li><a href="exprimez.html">Exprimez-vous !</a></li>
                <li><a href="rejoignez.html">Rejoignez-nous !</a></li>
                <li><a href="soutenez.html">Soutenez-nous !</a></li>
                <a href="https://www.facebook.com/europeenssansfrontieres"><img src="images/ico-facebook.png" alt="facebook" class="gafa-icon"></a>
                <a href="#"><img src="images/ico-twitter.png" alt="twitter" class="gafa-icon"></a>
                <a href="#"><img src="images/ico-instagram.png" alt="instagram" class="gafa-icon"></a>
                <a href="https://www.youtube.com/channel/UCoObHBj1Y7eYuzXECtqebTg" target="_blank"><img src="images/ico-youtube.png" alt="youtube" class="gafa-icon"></a>
              </ul>
            </div>
        </div>
      </div>
    </div>
 </footer>
