<div class="actionsbar">
  <h1>EN SAVOIR PLUS</h1>
</div>

<div class="footer-cadre">

<div class="footer">
   <div class="footer-menu">
    <div class="row">

      <div class="col-sm-3 col-xs-12">
        <ul>
          <h6>QUI SOMMES-NOUS ?</h6>
          <li><a href="atelier.html">L'association ESF</a></li>
          <li><a href="atelier.html">Notre équipe</a></li>
          <li><a href="atelier.html">Nos objectifs</a></li>
          <li><a href="atelier.html">Nos partenaires</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <ul>
          <h6>ACTIONS EN COURS</h6></li>
          <li><a href="grands.html">INFOCARTOON</a></li>
          <li><a href="grands.html">EUROCOLO</a></li>
          <li><a href="grands.html">EUROFORT</a></li>
          <li><a href="grands.html">ICE : Voters Without Borders</a></li>
          <li><a href="grands.html">Passeport européen</a></li>

        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <ul>
          <h6>PARTICIPEZ</h6></li>
          <li><a href="evenements.html">Exprimez-vous sur ESF COMMENTS</a></li>
          <li><a href="contact.html">Rejoignez-nous</a></li>
          <li><a href="contact.html">Soutenez-nous</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
