<nav>
  <div class="navbar-name">
    <!-- Logo -->

    <!-- <a href="http://localhost:4567"> -->
    <a href="https://backseo.github.io/ESF/" class="navbar-name-brand">
      <img src="images/Logo-ESF.jpg" alt="Logo" title="Accueil" style ="height: 46px; width:167px"></a>

    <!-- Breakpoint Developpement visual helper -->

    <i id="breakpoint0" class="fa fa-desktop" style="font-size: 3em; color: white; margin:4px" title="Screen-size"></i>
    <i id="breakpoint1" class="fa fa-laptop" style="font-size: 3em; color: white; margin:4px" title="Screen-size"></i>
    <i id="breakpoint2" class="fa fa-tablet" style="font-size: 3em; color: white; margin:4px" title="Screen-size"></i>
    <i id="breakpoint3" class="fa fa-mobile" style="font-size: 3em; color: white; margin:4px" title="Screen-size"></i>

    <!-- <a href="pagetest.html">TESTZONE</a> -->

    <%= partial 'tab2' %>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-name-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-name-dropdown-menu">
          <li><a href="index.html">Accueil</a></li>
          <li><a href="association.html">L'association ESF</a></li>
          <li><a href="equipe.html">Notre équipe</a></li>
          <li><a href="nosobjectifs.html">Nos objectifs</a></li>
          <li><a href="nosparten.html">Nos partenaires</a></li>
          <li><a href="esf-action.html">Nos actions</a></li>
          <li><a href="infocartoon.html">INFOCARTOON</a></li>
          <li><a href="eurocolo.html">EUROCOLO</a></li>
          <li><a href="eurofort.html">EUROFORT</a></li>
          <li><a href="icevoters.html">ICE : Voters Without Borders</a></li>
          <li><a href="passeport.html">Passeport européen</a></li>
          <li><a href="exprimez.html">Exprimez-vous !</a></li>
          <li><a href="rejoignez.html">Rejoignez-nous !</a></li>
          <li><a href="soutenez.html">Soutenez-nous !</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
