<div class="navbar-name">
  <!-- Logo -->
  <a href="https://backseo.github.io/ESF/" class="navbar-name-brand">
  <img src="images/Logo-ESF.jpg" alt="Logo" title="accueil"></a>
  <%= partial 'tab2' %>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-name-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-name-dropdown-menu">

        <li><a href="#">L'association ESF</a></li>
        <li><a href="#">Notre équipe</a></li>
        <li><a href="#">Nos objectifs</a></li>
        <li><a href="#">Nos partenaires</a></li>
        <li><a href="#">INFOCARTOON</a></li>
        <li><a href="#">EUROCOLO</a></li>
        <li><a href="#">EUROFORT</a></li>
        <li><a href="#">ICE : Voters Without Borders</a></li>
        <li><a href="#">Passeport européen</a></li>
        <li><a href="#">Exprimez-vous !</a></li>
        <li><a href="#">Rejoignez-nous !</a></li>
        <li><a href="#">Soutenez-nous !</a></li>
      </ul>
    </div>
  </div>
</div>
