<!-- <div class="banner">
  <h2>Emplacement de la vidéo <br>de présentation d'ESF en 16/9</h2>
</div> -->


<div class="bancontainer">
  <div id="bannertext">
    <h1>EUROPEENS SANS FRONTIERES</h1>
    <h3> Association loi 1901 créée en mai 2011</h3>
  </div>
</div>


<video id="bannervideo" src="videoBG.mp4" muted loop autoplay width="100%" ></video>




