<%= partial 'navbar2' %>
<div class="container">
  <div class="whitebox">
    <div class="equipe-layout">
      <div class="slideUp"><h2 id="assoesf">L'association ESF<img id="euroflag" src="/images/europe.png" alt="europe" style="margin-right: 10px; float: left;" height="42" width="50" /></h2></div>
        <br>
        <h2>Notre mission</h2>
        <p><strong>Européens Sans Frontières</strong>, association loi 1901, a été créée en mai 2011. Autour de <a href="https://www.google.fr/search?q=philippe%20cayla&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;rls=org.mozilla:fr-FR:official&amp;client=firefox-a&amp;source=hp&amp;channel=np" target="_blank" title="Philippe Cayla sur Google">Philippe Cayla</a>, initiateur de l'idée qui a donné naissance à l'Initiative <strong>« Let me Vote»</strong>, se sont réunis des citoyens venant de tous horizons, que ce soit par leur pays de naissance, leur profession ou encore leur affinité politique.</p>
        <p>Ce qui les unit est le désir de continuer à faire progresser l'idéal européen au moment ou celui-ci est de plus en plus menacé par les contractions nationales que nous observons en Europe. Dans ce vaste sujet, le groupe fondateur a décidé de se concentrer sur la citoyenneté européenne.</p>

        <p><strong>Qui sait que nous avons tous automatiquement, en plus de notre citoyenneté nationale, la citoyenneté européenne? Et si nous le savons, que recouvre-t-elle elle exactement ?</strong></p>
        <p>C'est la mission que s'assigne l'association Européens Sans Frontières : donner chair à cette citoyenneté européenne.</p>
        <p>Comme l'expriment nos statuts, notre objet est « la promotion de la citoyenneté européenne auprès du grand public, des autorités françaises, européennes et internationales. Pour cela, l'association utilisera tous les moyens nécessaires tels que l'initiative citoyenne européenne, les pétitions, l'organisation de colloques, la commande d'études, de sondages et la rédaction de rapports ».</p>
        <p><strong>Notre association est jeune, aussi n'hésitez pas à nous soutenir en apportant vos talents à l'équipe et/ou en nous aidant financièrement.</strong></p>
    </div>
  </div>
</div>
