<%= partial 'navbar2' %>

<div class="banbox">
  <h1 class ="band-title">BREXIT</h1>
  <img src="images/Brexit-band.jpg" class="responsive" alt="Responsive image">
</div>


<section>
  <div class="DescMainBox">
    <div class="DescLeft">
      <h2>ACTU : ESF COMMENTS</h2>
        <ul>
          <li><strong>Témoignage :</strong> Catriona Seth est professeur de littérature française du XVIIIᵉ siècle à l’Université de Lorraine anciennement Université de Nancy 2. Elle est spécialiste du siècle des Lumières, en particulier de l’histoire des idées et de la littérature.</li>
          <hr>
          <li>
            <h5><strong>« L’importance de la libre circulation pour les citoyens européens »</strong> </h5>
            <p>(A modifier : mettre futur titre de la vidéo)</p>
          </li>
        </ul>



    </div>
    <div class="DescRight">
      <img src="images/ActionsCom.jpg" alt="Catriona Seth" style="height: 231px" class="DescRight-element">
    </div>
  </div>
</section>

<section>
  <div class="DescMainBox">
    <div class="DescLeft">
      <h2>REPERCUSSIONS DU BREXIT</h2>
        <ul>
          <li>
            <h5>Merci Brexit : Bienvenue en Europe »</h5>
            <p>→ Situation des expatriés britanniques</p>
          </li>
          <hr>
          <li>
            <h5>« L’importance de la libre circulation pour les citoyens européens »</h5>
            <p></p>
          </li>
        </ul>



    </div>
    <div class="DescRight">
      <img src="images/Bandeau1.jpg" alt="Catriona Seth" style="height: 231px" class="DescRight-element">
    </div>
  </div>
</section>

