<%= partial 'navbar2' %>
<div class="bandboxBrexit">
  <h1 class ="band-title">BREXIT</h1>
</div>
<div class="container">
  <div class="whitebox">
    <section>
      <div class="DescMainBox">
        <div class="DescLeft">
          <h2>ACTU : ESF COMMENTS</h2>
            <div class="textjustifybox">
              <p><strong>Témoignage :</strong> Catriona Seth est professeur de littérature française du XVIIIᵉ siècle à l’Université de Lorraine anciennement Université de Nancy 2. Elle est spécialiste du siècle des Lumières, en particulier de l’histoire des idées et de la littérature.</p>
              <br>
              <p>→ <strong>« L’importance de la libre circulation pour les citoyens européens ».</strong> </p>
              <p>(A modifier : mettre futur titre de la vidéo).</p>
              <br>
            </div>
        </div>
        <div class="DescRight">
          <div class="ifcontainer">
             <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/Ges5zkxNpeM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="DescMainBox">
        <div class="DescLeft">
          <h2>REPERCUSSIONS DU BREXIT</h2>
            <div class="textjustifybox">
              <p><strong>Merci Brexit : Bienvenue en Europe ».</strong></p>
              <p>→ Situation des expatriés britanniques.</p>
            </div>
        </div>
        <div class="DescRight">
           <div class="ifcontainer">
             <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/U-n3aWPzB0I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="DescMainBox">
        <div class="DescLeft">
          <div class="textjustifybox">
            <p><strong>« The Gloomy Aftermath of Brexit »</strong></p>
            <p>→ Enjeux politiques et économiques du Brexit.</p>
            <p>→ Bilan. <a href="https://drive.google.com/drive/u/0/folders/12TMeV-WeVcyUNst3-Sb5oCbPtwsYqrva">Consulter</a></p>
          </div>
        </div>
        <div class="DescRight">
           <div class="ifcontainer">
             <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/UyEsrw58zhg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h3>COUVERTURE MÉDIATIQUE</h3>
        <div class="DescMainBox">
          <div class="card">
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/VlrKQV013zU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
            </div>
          <div class="card">
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/0Sb6LMR2IxQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
            </div>
          <div class="card">
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/pRlQj62iaMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
  </div><!-- Fin whitebox -->
</div><!-- Fin du container -->


