<div class="slideshow">
  <ul>
    <li><img src="images/ActionsBrexit.jpg" width="300" height="150"></li>
    <li><img src="images/ActionsCE.jpg" width="300" height="150"></li>
    <li><img src="images/ActionsCult.jpg" width="300" height="150"></li>
    <li><img src="images/ActionsDefEurop.jpg" width="300" height="150"></li>
    <li><img src="images/ActionsElect.jpg" width="300" height="150"></li>
    <li><img src="images/ActionsEnv.jpg" width="300" height="150"></li>
    <li><img src="images/ActionsEuro.jpg" width="300" height="150"></li>
    <li><img src="images/ActionsFisc.jpg" width="300" height="150"></li>
    <li><img src="images/ActionsInfoca.jpg" width="300" height="150"></li>
    <li><img src="images/ActionsNum.jpg" width="300" height="150"></li>
    <li><img src="images/ActionsPolMig.jpg" width="300" height="150"></li>
  </ul>
</div>

