<%= partial 'navbar2' %>

  <div class="banbox">
    <h1 id="CE" class ="band-title">CITOYENNETÉ EUROPÉENNE</h1>
    <img src="images/Brexit-band.jpg" class="responsive" alt="Responsive image">
  </div>

<div class="container">
  <section>
    <div class="DescMainBox">
      <div class="DescLeft">
        <h2>PROJET EN COURS : <span><p id="pec">(ICE) Initiative citoyenne européenne</p></span></h2>
          <p><strong>What is voter without border ?</strong></p>
          <br>
          <p>→Opération inspirée de l’ICE « Let me vote » lancée par Philippe Cayla en 2013</p>
          <br>
          <p>→ Lien de la pétition : FRENCH - Voters Without Borders</p>
          <br>
      </div>
      <div class="DescRight">
        <img src="https://via.placeholder.com/250x150" alt="Catriona Seth" style="height: 231px" class="DescRight-element">
      </div>
    </div>
  </section>

  <section>
    <div class="DescMainBox">
      <div class="DescLeft">
        <h2>DROITS CITOYENS</h2>
        <br><br>
          <p>→ Bilan de cette animation : <a href="https://drive.google.com/drive/u/0/folders/12TMeV-WeVcyUNst3-Sb5oCbPtwsYqrva">voir les résultats (PDF).</a></p>
      </div>
      <div class="DescRight">
         <div class="DescRight-element">
           <iframe width="410" height="231" src="https://www.youtube.com/embed/b7XTTfBQadQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="whitebox">

      <div class="esflexbox">

        <iframe width="305" height="171" src="https://www.youtube.com/embed/RVRIaQkAR38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="305" height="171" src="https://www.youtube.com/embed/drB9uYaloO0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div><!-- Fin esflexbox -->
      <br>
      <div class="esflexbox">

        <iframe width="305" height="171" src="https://www.youtube.com/embed/aUJ7P7mXKUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="305" height="171" src="https://www.youtube.com/embed/ccS8vwr-Xu0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div><!-- Fin esflexbox -->

    </div><!-- Fin whitebox -->
  </section>
  <br>
  <section>
    <div class="DescMainBox">
      <div class="DescLeft">
        <h2>DEMOCRATIE</h2>
        <br><br>
          <p><strong>« Les Décodeurs de l'Europe : l'UE n'est pas démocratique ! Vraiment ? »</strong></p>
      </div>
      <div class="DescRight">
         <div class="DescRight-element">
           <iframe width="410" height="231" src="https://www.youtube.com/embed/6XmapFLOq4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="DescMainBox">
      <div class="DescLeft">
        <br>
        <p><strong>« Vive la démocratie ! »</strong></p>
      </div>
      <div class="DescRight">
         <div class="DescRight-element">
           <iframe width="410" height="231" src="https://www.youtube.com/embed/_DB15hkAzdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

   <section>
     <div class="whitebox">
       <div class="DescLeft">
        <h2>MULTICULTURALITÉ → Témoignages, RTEV 2014</h2>
        <br>
      </div>
      <div class="DescMainBox">

        <div class="DescRight">
          <iframe width="410" height="231" src="https://www.youtube.com/embed/fG8MFYKiH-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <div class="DescLeft">
            <p><strong>Dany Boon :</strong> « L’Europe c’est avant tout la paix, l’échange, une belle communauté disparate ».</p><br>
          </div>
        </div>
        <div class="DescRight">
          <iframe width="410" height="231" src="https://www.youtube.com/embed/1AaVir-QjQM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <div class="DescLeft">
          <p><strong>Féfé :</strong> « L’Europe n’est pas obligée de gommer l’identité de chacun, de chaque pays, sa culture, sa différence. [...] Des manières de penser différentes, ça enrichit ».</p>
          </div>
        </div>

      </div><!-- Fin esflexbox -->
    </div>
  </section>

</div><!-- Fin du container -->




