<%= partial 'navbar2' %>
<div class="bandboxCE">
  <h1 class ="band-title">CITOYENNETÉ EUROPÉENNE</h1>
</div>
<div class="container">
  <div class="whitebox">
    <section>
      <div class="DescMainBox">
        <div class="DescLeft">
          <h2 class="titles-left">INITIATIVE CITOYENNE EUROPÉENNE </h2>
          <div class="textjustifybox">
            <h4>ICE - What is voter without border ?</h4>
            <br>
            <h4>Vidéo de Benoit - Lien vers la vidéo ? -----></h4>
            <br>
            <a href="https://europaforum.public.lu/fr/actualites/2013/12/ice-let-me-vote-presentation/index.html" target="_blank"><H4>Opération inspirée de l’ICE « Let me vote » lancée par Philippe Cayla en 2013.</H4></a>
            <br>
            <a href="https://voterswithoutborders.eu/french/" target="_blank"><H4>Lien de la pétition : FRENCH - Voters Without Borders.</H4></a>
          </div>
        </div>
        <div class="DescRight">
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/3kN9vvotkyI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="DescMainBox">
        <div class="DescLeft">
          <h2 class="titles-left">DROITS CITOYENS</h2>
          <div class="textjustifybox">
            <h4>EUROPMAN HELP !</h4>
            <p>L'association ESF a lancé sa nouvelle campagne 2016 avec la diffusion d'un film d'animation mettant la lumière sur les droits des citoyens européens méconnus du grand public.</p>
            <p class="hidden-sm hidden-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, veritatis quisquam quos voluptatem aliquid beatae nemo ex. Maiores excepturi ex eveniet eius reiciendis quos recusandae voluptatibus accusantium, obcaecati deserunt optio.</p>
            <p class="hidden-sm hidden-xs">Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Repellat ipsa placeat at odit earum obcaecati voluptas assumenda recusandae excepturi, debitis reiciendis aliquam repudiandae molestias a sapiente! Esse iusto inventore asperiores.</p>
            <p class="hidden-sm hidden-xs">Bilan de cette animation : <a href="https://drive.google.com/drive/u/0/folders/12TMeV-WeVcyUNst3-Sb5oCbPtwsYqrva">voir les résultats (PDF).</a></p>
          </div>
        </div>
          <div class="DescRight">
           <div class="DescRight-element ifcontainer">
             <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/b7XTTfBQadQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
        <div class="ifMainFbox">
          <div class="DescRight">
            <h2 class="text-center" >Egalité de traitement.</h2>
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/RVRIaQkAR38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="DescRight">
            <h2 class="text-center" >Liberté de circulation.</h2>
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/drB9uYaloO0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div><!--Fin ifMainFbox -->
        <div class="ifMainFbox">
          <div class="DescRight">
            <h2 class="text-center" >Droit de vote.</h2>
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/aUJ7P7mXKUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="DescRight">
            <h2 class="text-center" >Solidarité.</h2>
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/ccS8vwr-Xu0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div><!--Fin ifMainFbox -->
    </section>
    <br>
    <section>
      <div class="DescMainBox">
        <div class="DescLeft">
          <h2 class="titles-left">DEMOCRATIE</h2>
          <br>
          <div class="textjustifybox">
            <h4>« Les Décodeurs de l'Europe : <br>l'UE n'est pas démocratique ! Vraiment ? »</h4>
          </div>
        </div>
        <div class="DescRight">
           <div class="DescRight-element ifcontainer">
             <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/6XmapFLOq4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="DescMainBox">
        <div class="DescLeft">
          <div class="textjustifybox">
            <h4>« Vive la démocratie ! »</h4>
          </div>
        </div>
        <div class="DescRight">
           <div class="DescRight-element ifcontainer">
             <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/_DB15hkAzdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <section>
        <h2 id="multicult">MULTICULTURALITÉ → Témoignages, RTEV 2014</h2>
        <div class="DescLeft">
          <br>
        </div>
        <div class="ifMainFbox">
          <div class="DescLeft">
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/fG8MFYKiH-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="textjustifybox">
              <p><strong>Dany Boon :</strong> « L’Europe c’est avant tout la paix, l’échange, une belle communauté disparate ».</p>
            </div>
          </div>
          <div class="DescRight">
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/1AaVir-QjQM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
              <div class="textjustifybox">
                <p><strong>Féfé :</strong> « L’Europe n’est pas obligée de gommer l’identité de chacun, de chaque pays, sa culture, sa différence. [...] Des manières de penser différentes, ça enrichit ».</p>
              </div>
          </div>
        </div><!--Fin ifMainFbox -->
    </section>
    <br>
    <section>
      <div class="DescMainBox">
        <div class="DescLeft">
          <h2 class="titles-left">SOUVERAINETE EUROPEENNE</h2>
          <div class="textjustifybox">
            <p>La référence à la souveraineté européenne est de plus en plus présente dans le discours politique, que ce soit au niveau européen ou au niveau national. Si ces termes sont connotés très positivement pour ceux qui les emploient, en est-il de même pour ceux qui les écoutent ? Comment le concept de souveraineté lui-même est-il compris et connoté à travers l’Europe ? Comment la juxtaposition des mots « souveraineté » et « européenne » est-elle perçue et comprise ? L’Europe est-elle considérée comme souveraine aujourd’hui ? Pour répondre à ces questions, la Fondation Jean-Jaurès et la Fondation Friedrich-Ebert ont mené une enquête avec Ipsos dans huit pays de l’Union européenne (France, Allemagne, Espagne, Italie, Lettonie, Pologne, Roumanie, Suède). </p>
            <h4><strong>Etudes de la <a href="https://jean-jaures.org/nos-productions/enquete-sur-la-souverainete-europeenne" target="_blank">fondation Jean Jaurès :</a></strong></h4>
          </div>
        </div>
        <div class="DescRight">
          <div class="flagflexbox">
            <div class="flagbg">
              <a href=""><img src="images/fr.jpg" alt="" height="100px"></a>
              <a href=""><img src="images/de.jpg" alt="" height="100px"></a>
              <a href=""><img src="images/es.jpg" alt="" height="100px"></a>
              <a href=""><img src="images/it.jpg" alt="" height="100px"></a>
              <a href=""><img src="images/fi.jpg" alt="" height="100px"></a>
              <a href=""><img src="images/pl.jpg" alt="" height="100px"></a>
              <a href=""><img src="images/ro.jpg" alt="" height="100px"></a>
              <a href=""><img src="images/at.jpg" alt="" height="100px"></a>
              <div class="horivertalign">
                <h5>Cliquer sur les drapeaux pour accéder aux documents.</h5></div>
            </div>

          </div>
          </div>
        </div>

    </section>
  </div><!-- fin whitebox -->
  <%= partial 'footer' %>
</div><!-- Fin du container -->




