<%= partial 'navbar2' %>
<div class="bandboxCE">
  <h1 class ="band-title">CITOYENNETÉ EUROPÉENNE</h1>
</div>
<div class="container">
  <div class="whitebox">
  <section>
    <div class="DescMainBox">
      <div class="DescLeft">
        <h2>INITIATIVE CITOYENNE EUROPÉENNE </h2>
          <p>ICE - What is voter without border ?</p>
          <br>
          <a href="https://europaforum.public.lu/fr/actualites/2013/12/ice-let-me-vote-presentation/index.html" target="_blank"><p>Opération inspirée de l’ICE « Let me vote » lancée par Philippe Cayla en 2013.</p></a>
          <br>
          <a href="https://voterswithoutborders.eu/french/" target="_blank"><p>Lien de la pétition : FRENCH - Voters Without Borders.</p></a>
          <br>
      </div>
      <div class="DescRight DescRight-element">
        <div class="ifcontainer">
          <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/7lRYpdQi3N8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="DescMainBox">

      <div class="DescLeft">
        <h2>DROITS CITOYENS</h2>

            <p>Bilan de cette animation : <a href="https://drive.google.com/drive/u/0/folders/12TMeV-WeVcyUNst3-Sb5oCbPtwsYqrva">voir les résultats (PDF).</a></p>
          </div>


      <div class="DescRight">
         <div class="DescRight-element ifcontainer">
           <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/b7XTTfBQadQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="whitebox">
      <div class="ifMainFbox">
          <div class="DescRight">
            <h2>Egalité de traitement.</h2>
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/RVRIaQkAR38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="DescRight">
            <h2>Liberté de circulation.</h2>
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/drB9uYaloO0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

          </div>
        </div><!--Fin ifMainFbox -->
        <div class="ifMainFbox">
          <div class="DescRight">
            <h2>Droit de vote.</h2>
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/aUJ7P7mXKUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="DescRight">
            <h2>Solidarité.</h2>
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/ccS8vwr-Xu0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

          </div>
        </div><!--Fin ifMainFbox -->
    </div><!-- Fin whitebox -->
  </section>

  <br>

  <section>
    <div class="DescMainBox">
      <div class="DescLeft">
        <h2>DEMOCRATIE</h2>
        <br>
        <p><strong>« Les Décodeurs de l'Europe : l'UE n'est pas démocratique ! Vraiment ? »</strong></p>
      </div>
      <div class="DescRight">
         <div class="DescRight-element ifcontainer">
           <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/6XmapFLOq4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="DescMainBox">
      <div class="DescLeft">
        <br>
        <p><strong>« Vive la démocratie ! »</strong></p>
      </div>
      <div class="DescRight">
         <div class="DescRight-element ifcontainer">
           <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/_DB15hkAzdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="whitebox">
      <h2 id="multicult">MULTICULTURALITÉ → Témoignages, RTEV 2014</h2>
      <div class="DescLeft">
        <br>
      </div>
      <div class="ifMainFbox">
        <div class="DescLeft">
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/fG8MFYKiH-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="DescLeft">
            <p><strong>Dany Boon :</strong> « L’Europe c’est avant tout la paix, l’échange, une belle communauté disparate ».</p><br>
          </div>
        </div>
        <div class="DescRight">
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/1AaVir-QjQM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="DescLeft text-left">
            <p><strong>Féfé :</strong> « L’Europe n’est pas obligée de gommer l’identité de chacun, de chaque pays, sa culture, sa différence. [...] Des manières de penser différentes, ça enrichit ».</p>
          </div>
        </div>
      </div><!--Fin ifMainFbox -->
      </div><!--Fin whitebox -->
  </section>
  <br>
   <section>
    <div class="DescMainBox">
      <div class="DescLeft">
        <h2>SOUVERAINETE EUROPEENNE</h2>
        <br><br>
          <p>Etudes de la <a href="https://jean-jaures.org/nos-productions/enquete-sur-la-souverainete-europeenne">fondation Jean Jaurès</a> : Enquête sur la souveraineté européenne.</p>
      </div>
      <div>
        <div class="DescRight">
          <div class="flagbg">
            <a href=""><img src="images/fr.jpg" alt="" height="100px"></a>
            <a href=""><img src="images/de.jpg" alt="" height="100px"></a>
            <a href=""><img src="images/es.jpg" alt="" height="100px"></a>
            <a href=""><img src="images/it.jpg" alt="" height="100px"></a>
            <a href=""><img src="images/fi.jpg" alt="" height="100px"></a>
            <a href=""><img src="images/pl.jpg" alt="" height="100px"></a>
            <a href=""><img src="images/ro.jpg" alt="" height="100px"></a>
            <a href=""><img src="images/at.jpg" alt="" height="100px"></a>

          <p>Cliquer sur les drapeaux pour accéder aux documents.  <img src="images/ico-pdf.png" height="36px"alt="pdf"></p>
        </div>
        </div>
      </div>
    </div>
  <section>

  </div><!-- fin whitebox -->
</div><!-- Fin du container -->




