<%= partial 'navbar2' %>
<div class="bandboxCult">
  <h1 class="band-title">CULTURE</h1>
</div>
<div class="container">
  <div class="whitebox">
  <section>
    <div class="DescMainBox">
      <div class="DescLeft">
        <h2 id="europcu">L'EUROPE DE LA CULTURE</h2>
        <br>
        <div class="textjustifybox">
          <h3><strong>« L’Europe aime la culture ».</strong></h3>
        </div>
      </div>
      <div class="DescRight">
        <div class="ifcontainer">
          <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/1AvKSbXdfh8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="DescLeft">
      <h2 id="intercu">INTERCULTURALITÉ → Témoignages, RTEV 2014</h2>
      <br>
    </div>
    <div class="ifMainFbox">
      <div class="DescLeft">
        <div class="ifcontainer">
          <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/hSTA_Grlutw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="DescLeft">
          <div class="textjustifybox">
            <p><strong>Naguy :</strong>“Aimant la musique et profitant de la diversité culturelle de tous les pays européens, ça serait peut -être bien qu’il y ait une date symbolique [...], d’un immense festival qui réunirait toutes les sensibilités et les cultures »</p>
          </div>
        </div>
      </div>
      <div class="DescRight">
        <div class="ifcontainer">
          <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/BYg6TfURjNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="DescLeft">
          <div class="textjustifybox">
            <p><strong>Plantu :</strong>« Il faut le lyrisme de la culture pour dire que [...] depuis la construction européenne, on arrive à faire la paix ».</p>
          </div>
        </div>
      </div>
    </div><!--Fin ifMainFbox -->
    </div><!--Fin whitebox -->
  </section>
</div><!-- Fin du container -->


