<%= partial 'navbar2' %>

<div class="bandboxCult">
  <h1 class ="band-title">ELECTIONS EUROPÉENNES</h1>
</div>
<div class="container">
  <div class="whitebox">
    <section>
      <div class="DescMainBox">
        <div class="DescLeft">
          <h2>ELECTIONS DE 2019</h2>
        </div>
        <div class="DescRight"></div>
      </div>
      <div class="text-center">
        <h1>« RockTheEurovote 2019 »</h1>
        <p><a href="http://www.cettefoisjevote.org/" target="_blank"><strong>--- CETTE FOIS JE VOTE ! ---</strong></p></a>
      </div>
    </section>
    <br>
    <section>
      <div class="ifMainFbox">
        <div class="card">
          <div class="card-title"><h4>Plastik</h4></div>
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/T0UKTVq0_Nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--Fin ifcontainer -->
        </div><!--Fin card -->
        <div class="card">
          <div class="card-title"><h4>Inégalité F/H</h4></div>
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/RVRIaQkAR38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--Fin ifcontainer -->
        </div><!--Fin card -->
        <div class="card">
          <div class="card-title"><h4>Vive la démocratie</h4></div>
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/_DB15hkAzdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--Fin ifcontainer -->
        </div><!--Fin card -->
        <div class="card">
          <div class="card-title"><h4>Protection des données</h4></div>
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/o6N45gnr_no" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--Fin ifcontainer -->
        </div><!--Fin card -->
      </div><!--Fin ifMainFbox -->
      <div class="ifMainFbox">
        <div class="card">
          <div class="card-title"><h4>Bar de l'Europe</h4></div>
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/sq_FPMo3N0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--Fin ifcontainer -->
        </div><!--Fin card -->
        <div class="card">
          <div class="card-title"><h4>Vote par téléphone</h4></div>
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/RVRIaQkAR38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--Fin ifcontainer -->
        </div><!--Fin card -->
        <div class="card">
          <div class="card-title"><h4>Génération Erasmus</h4></div>
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/aUJ7P7mXKUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--Fin ifcontainer -->
        </div><!--Fin card -->
      </div><!--Fin ifMainFbox -->
      <div class="ifMainFbox">
        <div class="card">
          <div class="card-title"><h4>Protection des animaux</h4></div>
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/w5r9uvvkoow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--Fin ifcontainer -->
        </div><!--Fin card -->
        <div class="card">
          <div class="card-title"><h4>Européens sans frontières</h4></div>
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/drB9uYaloO0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--Fin ifcontainer -->
        </div><!--Fin card -->
        <div class="card">
          <div class="card-title"><h4>Urne de mer</h4></div>
          <div class="ifcontainer">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/T0UKTVq0_Nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div><!--Fin ifcontainer -->
        </div><!--Fin card -->
      </div><!--Fin ifMainFbox -->
    </section>
    <br>
    <section>
        <h2 class="text-center">Ecriture par 10 jeunes scénaristes franco-allemands :</h2>
      <div class="ifcontainer">
        <iframe class="responsive-iframe DailymoResp" width="100%" height="100%" src="https://www.dailymotion.com/embed/video/x731z9t" title="Dailymotion vidéo player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div><!--Fin ifcontainer -->
    </section>
    <br>
    <section>
      <div class="DescMainBox">
        <div class="DescLeft">
          <h2>ELECTIONS DE 2014</h2>
        </div>
        <div class="DescRight"></div>
      </div>
      <div class="text-center">
        <h1>« Rock The Eurovote 2014 » :</h1>
        <h4>Des voix s’élèvent pour l’Europe et les élections.</h4>
      </div>


      <div class="DescMainBox">
        <div class="ifcontainer">
          <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/J-Iq4AEA_vU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="text-center">
        <h1>Poème sur l’Europe, reprit par des personnalités.</h1>
        <h4>Ecrit par Philippe Cayla, Président d’ESF.</h4>
        <p><a href="#">Lien vers une vidéo ?</a></p>
      </div>
    </section>

    <section>
      <h1 class="text-center">Leur engagement pour l'Europe.</h1>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="PersonCard">
          <h4>Aissa Maigaa</h4>
          <a href="https://youtu.be/JOVrK8ogChs" target="_blank"><img class="img-rounded" src="images/aissa-maigaa.jpeg" alt="Aissa Maigaa"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="PersonCard">
          <h4>Virginie Efira</h4>
          <a href="https://youtu.be/EQHt3odqef8" target="_blank"><img class="img-rounded" src="images/virginie_efira.jpg" alt="Virginie Efira"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="PersonCard">
          <h4>Guillame Gallienne</h4>
          <a href="https://youtu.be/0qBQ6oUn4rA" target="_blank"><img class="img-rounded" src="images/guillaume-gallienne.jpg" alt="Guillame Gallienne"></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="PersonCard">
          <h4>Bruno Solo</h4>
          <a href="https://youtu.be/-8MLZWMk16M" target="_blank"><img class="img-rounded" src="images/bruno-solo.jpeg" alt="Bruno Solo"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="PersonCard">
          <h4>Murielle Mayette</h4>
          <a href="https://youtu.be/8Axw8WzPzqg" target="_blank"><img class="img-rounded" src="images/murielle-mayette.jpg" alt="Murielle Mayette"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="PersonCard">
          <h4>Florence Pernell</h4>
          <a href="https://youtu.be/8c-wpA0sjy0" target="_blank"><img class="img-rounded" src="images/florence_pernell.jpg" alt="Florence Pernell"></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="PersonCard">
          <h4>Jean-Christophe Victor</h4>
          <a href="https://youtu.be/n7Zud4OUGQI" target="_blank"><img class="img-rounded" src="images/jean-Christophe_Victor.jpg" alt="Jean-Christophe Victor"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="PersonCard">
          <h4>Olivier Duhamel</h4>
          <a href="https://youtu.be/jEMdJrSOfdU" target="_blank"><img class="img-rounded" src="images/olivier-duhamel.jpg" alt="Olivier duhamel"></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="PersonCard">
          <h4>Dany Boon</h4>
          <a href="https://www.youtube.com/watch?v=fG8MFYKiH-4&list=PLBmecLbh60Y2bUDlkMRnaWDog4T05vgu_&index=6&ab_channel=EUROPEENSSANSFRONTIERES" target="_blank">
          <img class="img-rounded" src="images/dany-boon.jpg" alt="Dany Boon"></a>
        </div>
      </div>

       <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="PersonCard">
            <h4>Nagui</h4>
            <a href="https://youtu.be/hSTA_Grlutw" target="_blank"><img class="img-rounded" src="images/nagui.jpg" alt="Nagui"></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="PersonCard">
            <h4>Féfé</h4>
            <a href="https://youtu.be/1AaVir-QjQM" target="_blank"><img class="img-rounded" src="images/fefe.jpg" alt="Féfé"></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="PersonCard">
            <h4>Kyan khojandi</h4>
            <a href=""><img class="img-rounded" src="images/kyan-khojandi.jpg" alt="Kyan khojandi"></a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="PersonCard">
              <h4>cynthia fleury perkins</h4>
              <a href=""><img class="img-rounded" src="images/cynthia-fleury-perkins.jpg" alt="cynthia fleury perkins"></a>
            </div>
          </div>
        </div>

    </section>
  </div><!-- Fin whitebox -->
</div><!-- Fin container -->



