<%= partial 'navbar2' %>
<div class="container">
  <div class="whitebox">
    <div class="equipe-layout">
        <div class="DescLeft slideDown"><h2>Bureau ESF</h2></div>
          <div class="row">
            <div class="col-sm-3" style="text-align: center;">
            <img src="images/Phillipe-Cayla.jpg" alt="Phillipe-Cayla" class="portraits" style="max-width: 250px;" height="auto" width="100%" />
            </div>
            <div class="col-sm-9">
              <img src="images/fr.jpg" alt="fr" height="41" width="34" />
              <h4>Comité français</h4>
              <h4 class="bleu">Philippe CAYLA – Président d'Européens Sans Frontières</h4>
              <p>Président d'Euronews Development et membre du conseil de surveillance d'Euronews, Philippe Cayla&nbsp;a exercé depuis une trentaine d'années des fonctions dirigeantes dans plusieurs entreprises industrielles et audiovisuelles européennes: Alcatel, Matra, Eutelsat, France Télévisions, Euronews. En créant "Européens sans frontières" il a voulu transformer son expérience de terrain en engagement militant pour la cause de l'Europe.  <em>« En plein débat français sur le droit de vote des immigrés, j'ai trouvé qu'on ne faisait rien pour les Européens, si proches de nous. Quelle lacune !</em> <em>En lançant un appel dans Libération puis sur France Inter, je n'espérais pas être contacté par tant d'Européens motivés, qui sont devenus des amis. Ensemble nous voilà embarqués dans une aventure qui s'apparente à l'ascension de l'Everest par la face Nord : recueillir en 12 mois un million de signatures, et cela en respectant les procédures imposées par l'Union !</em> <em>Je ne sais pas si nous y arriverons, mais nous sommes décidés à aller jusqu'au bout, car notre initiative est plus que citoyenne et plus qu'européenne : elle est vitale pour que tous les Européens puissent se reconnaître une communauté de destin. »</em></p>
            </div>

            <div class="col-xs-12"><hr /></div>
              <div class="col-sm-3" style="text-align: center;">
                <img src="images/Catherine-Colona.jpg" alt="Catherine-Colona" class="portraits" style="max-width: 250px;" height="auto" width="100%" />
              </div>
            <div class="col-sm-9">
              <h4 class="bleu">Catherine COLONNA – Vice-présidente d'Européens Sans Frontières</h4>
              <p> Catherine Colonna est ancienne ministre déléguée aux Affaires européennes. Elle a été la porte-parole du président Jacques Chirac ainsi qu'Ambassadrice auprès de l'Unesco. Catherine Colonna est aujourd'hui Managing Partner du bureau de Paris du groupe Brunswick.  <em>« Lorsque j'ai lu l'appel de Philippe Cayla à la fin de l'année dernière, son idée de donner le droit de vote plein et entier à tous les citoyens européens dans le pays de l'Union où ils résident m'a parue lumineuse ! Je l'ai aussitôt encouragé à poursuivre et à lancer réellement une initiative en ce sens, en le rejoignant avec beaucoup d'autres. Il est plus que temps de dire et de montrer que les Européens ne sont plus des étrangers les uns pour les autres, que la meilleure façon d'écrire notre avenir passe par l'exercice de ce droit démocratique fondamental – le droit de vote – et que nous nous sentirons d'autant plus solidaires que la citoyenneté européenne sera plus concrète. »</em></p>
            </div>
            <div class="col-xs-12"><hr /></div>

            <div class="col-sm-3" style="text-align: center;">
              <img src="images/Catriona-Seth.jpg" alt="Catriona-Seth" class="portraits" style="max-width: 250px;" height="auto" width="100%" />
            </div>
            <div class="col-sm-9">
              <h4 class="bleu">Catriona SETH – Vice-présidente d'Européens Sans Frontières</h4>
              <p>Catriona Seth est professeur de littérature française du XVIIIe siècle à l'université de Lorraine et professeur associé au département d'histoire de l'université Laval (Québec). Elle dirige des masters et thèses en cotutelle avec différents pays européens. Elle est l'auteur de nombreux travaux sur la littérature du siècle des Lumières et l'histoire des idées.<em>  « Européenne convaincue, élevée dans différents pays, je trouve à titre personnel, depuis de nombreuses années, anormal d'être fonctionnaire de l'Etat français, de former les générations futures de la République, de payer mes impôts en France, et de ne pas pouvoir voter. La tribune de Philippe Cayla, le projet d'une ICE, m'ont paru apporter une réponse à ce dysfonctionnement du processus démocratique. Je crois que l'Europe a besoin de citoyens mobiles et ouverts, impliqués dans le pays dans lequel ils résident. Leur donner le droit de vote constituerait un progrès pour eux, pour les nations qui les accueillent, pour l'avenir de l'Europe. »</em></p>
            </div>
            <div class="col-xs-12"><hr /></div>
            <div class="col-sm-3" style="text-align: center;">
              <img src="images/Charles-Morel.jpg" alt="Charles-Morel" class="portraits" style="max-width: 250px;" height="auto" width="100%" />
            </div>
            <div class="col-sm-9">
              <h4 class="bleu">Charles MOREL – Secrétaire Général d’Européen sans frontières</h4>
              <p>Ancien Secrétaire de la Conférence, Charles MOREL est avocat, spécialisé en propriété intellectuelle et en droit de la presse. Sa pratique professionnelle comme ses engagements citoyens le conduisent à s’impliquer régulièrement avec les problématiques européennes.<em>  « Sans renoncer en rien à l'identité nationale, passage obligé de l'identité européenne, médiatrice et mère nourricière d'une appartenance plus large et pour l'heure plus abstraite, nous devons avoir la volonté et le courage d’une Europe fédérale, riche de sa diversité et parlant d’une seule voix, portant sur la scène mondiale avec autorité ses valeurs et approfondissant sur son territoire l’exigence démocratique. La génération à laquelle j’appartiens a grandi dans un univers mental supra-national. Elle porte en elle la volonté de franchir le gué d’un véritable partage de souveraineté et de redonner à l’ambition européenne sa fraîcheur utopique et son enthousiasme des débuts. »</em></p></div>

            <div class="col-xs-12"><hr /></div>

            <div class="col-sm-3" style="text-align: center;">
              <img src="images/Alain-Brun.jpg" alt="Alain-Brun" class="portraits" style="max-width: 250px;" height="auto" width="100%" />
            </div>
            <div class="col-sm-9">
              <h4 class="bleu">Alain BRUN</h4>
              <p>Alain Brun, retraité, est un ancien juriste de la Commission européenne. Il a travaillé sur différents projets législatifs européens. Il a notamment été impliqué dans la rédaction de la Charte des droits fondamentaux ainsi que dans les questions de citoyenneté européenne et de justice.<em><br /> <br /> « J’ai fait un bond en lisant l’article de Philippe dans Libération. Enfin, une idée constructive dans un paysage européen constamment bombardé de critiques et approximations douteuses ! L’idée n’est certes pas neuve – en lisant bien on peut même la trouver dans des rapports de la Commission européenne –, mais, jusqu’ici, personne n’a eu le courage de la porter. En tant que résident dans un pays dont je n’ai pas la nationalité, j’ai toujours trouvé étrange d’avoir le droit de vote et d’éligibilité aux élections les plus proches, les municipales, et aux élections les plus lointaines, les européennes, mais pas pour les autres. Comme si ces droits pouvaient être donnés en rondelles de citoyenneté. A mon avis, la citoyenneté devrait être indivisible. On pose volontiers en postulat un prétendu déficit démocratique européen, en l’occurrence c’est au niveau national qu’il existe. »</em></p>
            </div>
            <div class="col-xs-12"><hr /></div>
            <div class="col-sm-3" style="text-align: center;">
              <img src="images/Guillaume-de-Maupeou.jpg" alt="Guillaume-de-Maupeou" class="portraits" style="max-width: 250px;" height="auto" width="100%" /></div>
            <div class="col-sm-9">
            <h4 class="bleu">Guillaume de MAUPEOU</h4>
            <p>Guillaume de Maupeou est consultant, spécialisé depuis 10 ans dans la conduite du changement auprès des Directions Générales d'entreprises. Il est le co-fondateur du cabinet Grand Angle.<em><br /> <br /> « Je fais partie de la génération européenne : celle qui a vu, en grandissant, les frontières disparaître, les murs tomber, les études et les entreprises s'européaniser, les amitiés et les amours s'affranchir des nationalismes. Depuis 2 ans, je fais le constat que ce que je croyais être un acquis irrévocable ne l'est pas. Le sentiment européen pourrait vite devenir une peau de chagrin. En tant que citoyens européens, nous devons agir pour renforcer cette conscience d'être européen(ne). C'est la raison pour laquelle, alors que je ne m'étais jamais engagé auparavant, j'ai contacté Philippe Cayla, après l'avoir entendu à la radio, pour l'aider à promouvoir cette initiative citoyenne européenne, première action de notre association. »</em></p></div>
            <div class="col-xs-12"><hr /></div>
            <div class="col-sm-3" style="text-align: center;">
              <img src="images/Stefan-de-Vries.jpg" alt="Stefan-de-Vries" class="portraits" style="max-width: 250px;" height="auto" width="100%" /></div>
            <div class="col-sm-9">
              <h4 class="bleu">Stefan de VRIES – Responsable des outils médias d’Européens Sans Frontières</h4>
              <p>Stefan de Vries est un journaliste indépendant basé à Paris. Néerlandais, il est spécialisé en politique et économie française et européenne, il travaille notamment pour les chaînes RTL Pays-Bas et France 24. Il a publié plusieurs livres, entre autres, sur le savoir-vivre, la France et le Printemps arabe. Parmi les cinq langues qu'il parle couramment, il n'y a pas la langue de bois.<em> <br /> « L'Europe est pour moi une évidence. Depuis longtemps, je trouve le concept des nationalités désuet. Que quelqu'un paie ses impôts, mais qu'il n'ait pas le droit de vote parce qu'il a une autre nationalité que celle de&nbsp;son pays de résidence est une aberration. Quand j'ai lu l'article de Philippe Cayla, j'ai décidé de m'engager tout de suite en espérant pouvoir contribuer à un premier pas vers une véritable citoyenneté européenne. »</em></p></div>
            <div class="col-xs-12"><hr /></div>
            <div class="col-sm-3" style="text-align: center;">
              <img src="images/Christer-Eck.jpg" alt="Christer-Eck" class="portraits" style="max-width: 250px;" height="auto" width="100%" /></div>
            <div class="col-sm-9">
              <h4 class="bleu">Christer ECK – Responsable des outils informatiques et sécurité d'Européens Sans Frontières</h4>
              <p>Christer Eck est suédois mais il vit et travaille en France depuis 25 ans. Il exerce des responsabilités dans l'informatique au sein d'un groupe international.<em><br /> <br /> « J'ai toujours trouvé bizarre le fait de ne pas pouvoir voter aux élections législatives et présidentielles dans le pays ou j'ai passé le plus gros de ma vie professionnelle. La proposition de Philippe Cayla me paraît répondre à ce besoin : reconnaître, par le droit de vote, l'implication que les gens comme moi ont dans la vie économique et sociale du pays dans lequel nous résidons. »</em></p></div>
            <div class="col-xs-12"><hr /></div>
            <div class="col-sm-3" style="text-align: center;">
              <img src="images/Nicolas-Delaby.jpg" alt="Nicolas-Delaby" class="portraits" style="max-width: 250px;" height="auto" width="100%" />
            </div>
            <div class="col-sm-9">
              <img src="images/lu.jpg" alt="fr" height="41" width="34" />
              <h4>Comité Luxembourgeois</h4>
              <h4 class="bleu">Nicolas Delaby – Représentant de LET ME VOTE au Luxembourg</h4>
              <p>Nicolas Delaby est chef de projet pour une société internationale basée au Grand-Duché de Luxembourg. Il est spécialiste des standards et bonnes pratiques dans le domaine des nouvelles technologies.<br /> <br /> <em>« J'ai entendu l'appel de Philippe Cayla sur France Inter. Je me suis tout de suite mis en marche pour l'accompagner dans ce projet ambitieux. Je crois que remettre la question de la citoyenne européenne au cœur du débat apportera un véritable souffle d'air frais pour l'Europe. Cela nous permettra de faire un travail de conscience sur notre identité pour poser les bases d'un renouveau Européen. Nous pourrons sur ces bases relancer de grands projets fédérateurs et porteurs d'espoir pour nos 28 pays. Dans cette période difficile pour l'Europe, je suis conscient que c'est un challenge et j'aime ce défi ! Les idéaux de paix et de solidarité que nous ont légués les pères fondateurs sont infiniment précieux, je suis prêt à me retrousser les manches pour les préserver et surtout les développer... »</em></p>
            </div>
            <div class="col-xs-12"><hr /></div>
            <div class="col-sm-3" style="text-align: center;">
              <img src="images/Serge-Arno-Klumper.jpg" alt="Serge-Arno Klumper" class="portraits" style="max-width: 250px;" height="auto" width="100%" />
            </div>
            <div class="col-sm-9">
              <img src="images/lu.jpg" alt="fr" height="41" width="34" />
              <h4>Comité Luxembourgeois</h4>
              <h4 class="bleu">Serge-Arno Klumper</h4>
            <p>Serge-Arno est franco-allemand, macro-économiste de formation. Il a travaillé longtemps dans le domaine du développement, notamment pour la Banque Européenne d'Investissement. Ses activités professionnelles l'ont amené à beaucoup voyager, essentiellement en Afrique. Ses intérêts sont l'intégration européenne, les média en Europe et l'integration dans un contexte migratoire.<br /> <br /> <em>« L'Union Européenne doit devenir plus démocratique et plus fédérale pour continuer ce projet unique dans l'histoire de l'humanité, qu'est la construction européenne. »</em></p>
            </div>
            <div class="col-xs-12"><hr /></div>
            <div class="col-sm-3" style="text-align: center;">
              <img src="images/Romain-Seignovert.jpg" alt="Romain Seignovert" class="portraits" style="max-width: 250px;" height="auto" width="100%" />
            </div>
            <div class="col-sm-9">
              <img src="images/be.jpg" alt="fr" height="41" width="34" />
              <h4>Comité Belge</h4>
              <h4 class="bleu">Romain Seignovert</h4>
              <p><i>Romain Seignovert est consultant en affaires européennes pour MSLGROUP Bruxelles, filiale du groupe Publicis. En 2012, il a conçu et développé le site Internet EuropeIsNotDead qui présente, de manière transnationale et ludique, les spécificités culturelles et linguistiques européennes. Depuis 2016, il est également auteur pour l'émission Karambolage sur la chaine de télévision franco-allemande ARTE.</i><br /> <br /> <em>« Résident en Belgique depuis 3 ans, et après avoir vécu successivement en France, en Allemagne et en Espagne, j’ai toujours trouvé déroutant le fait de ne pas pouvoir participer par mon vote aux choix politiques du pays dans lequel je réside, travaille et m’engage activement. La mobilité intra-européenne est aujourd’hui une réalité pour un nombre croissant de jeunes européens qui comprennent et saisissent les opportunités professionnelles, intellectuelles et affectives d’une expatriation. Et pourtant, le processus démocratique censé accompagner ce brassage européen demeure encore inachevé. Derrière l’appel énergique de Philippe Cayla à reconnaître le droit de vote des ressortissants européens aux élections nationales, j’ai compris qu’il ne suffirait pas d’attendre que ce droit soit un jour octroyé, mais que la société civile devait s’engager activement pour qu’il soit enfin reconnu. »</em></p>
            </div>
          </div><!--Fin row -->
    </div><!--Fin equipe-layout -->
  </div><!-- Fin whitebox -->
</div><!-- Fin container -->




