<%= partial 'navbar2' %>
<div class="bandboxCult">
  <h1 class ="band-title">MONNAIE EUROPÉENNE</h1>
</div>
<div class="container">
  <div class="whitebox">
    <section>
      <h2 id="euro-title_blue">EURO</h2>
        <br>
        <div class="text-center">
          <H1>EUROFORT HELP ! (2017) :</H1>
        </div>
        <br>
        <div class="DescMainBox">
          <div class="DescLeft">
            <br>
            <div class="textjustifybox">
              <h4><strong>Lauréat du concours : Quentin Rigaux</strong></h4>
            </div>
            <br>
            <div class="horivertalign" >
              <img class="slideRight" src="images/eurofort.png" alt="concours" width="165" height="231">
            </div>
            <div class="textjustifybox">
              <p><a href="https://drive.google.com/file/d/1hkmULmH0l7FouJAoZuF4_tcM19Ra3KDS/view?usp=sharing" target="_blank">Bilan des diffusions du court-métrage d'animation.</a></p>
            </div>
          </div>
          <div class="DescRight">
            <div class="ifcontainer">
              <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/nTOl3rtwZuk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </section>
    <section>
      <div class="ifMainFbox">
        <div class="DescRight">
          <div class="horivertalign">
            <h4>« L’Europe coûte trop cher à la France. Vraiment ? »</h4>
          </div>
          <div class="ifcontainer">
            <a href="https://www.youtube.com/watch?v=978HzMM4LdI&list=PL_0HactT7RCtPWjILvWO4J0bVwH-t0m_e&index=12" target="_blank">
            <img src="images/eurocard1.png" alt="" class="responsive-iframe" style="height:250px; width:450px"></a>
          </div>
        </div>
        <div class="DescRight">
          <div class="horivertalign">
            <h4>« Avec l’euro, tout a augmenté sauf mon pouvoir d’achat. Vraiment ? »</h4>
          </div>
          <div class="ifcontainer">
            <a href="https://www.youtube.com/watch?v=aJViQZJDRWk&list=PL_0HactT7RCtPWjILvWO4J0bVwH-t0m_e&index=11" target="_blank">
            <img src="images/eurocard2.png" alt="" class="responsive-iframe" style="height:250px; width:450px"></a>
          </div>
        </div>
      </div><!--Fin ifMainFbox -->
    </section>
    <section>
      <h2 id="union-title_blue">L'UNION BANCAIRE</h2>
      <br>
        <div class="horivertalign">
          <h4>« L’Union bancaire, une victoire pour les contribuables »</h4>
        </div>
        <div class="ifcontainer">
          <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/D9TOJ64Cv9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>
  </div><!-- Fin whitebox -->
</div><!-- Fin container -->




