<%= partial 'navbar2' %>
<div class="bandboxCult">
  <h1 class ="band-title">NOS OBJECTIFS</h1>
</div>
<div class="container">
  <div class="whitebox fake">

    <div class="enconstr">
      <img src="images/en-construction.jpg" alt="">
    </div>

  </div><!-- Fin whitebox -->
</div><!-- Fin du container -->
