<%= partial 'navbar2' %>

<div class="bandboxCult">
  <h1 class ="band-title">Ma page de tests.</h1>
</div>
<div class="container">
  <div class="whitebox">


<h1 class="Metropolis">Police de caractères Avenir</h1>
<br>
<h1 class="Briem">Police de caractères BriemScriptStd-regular</h1>


  </div><!-- Fin whitebox -->
</div><!-- Fin container -->




