<%= partial 'navbar2' %>
<div class="esflexbox2">
  <div class="whitebox square-whitebox">
      <h5>Lorem ipsum</h5>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, sit illum nisi molestias. Modi iure quaerat officia numquam inventore quia iusto atque, recusandae, deserunt error provident, alias ipsam eligendi vero.</p>
    </div>
  <div class="whitebox square-whitebox">
      <h5>Lorem ipsum</h5>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, sit illum nisi molestias. Modi iure quaerat officia numquam inventore quia iusto atque, recusandae, deserunt error provident, alias ipsam eligendi vero.</p>
    </div>
  <div class="whitebox square-whitebox">
      <h5>Lorem ipsum</h5>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, sit illum nisi molestias. Modi iure quaerat officia numquam inventore quia iusto atque, recusandae, deserunt error provident, alias ipsam eligendi vero.</p>
    </div>
</div>


<%= partial 'footer' %>

