<%= partial 'navbar2' %>
<div class="bancontainer">
  <div id="bannertext">
    <h1>EUROPEENS SANS FRONTIERES</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, deleniti! Modi ad quaerat sapiente cupiditate itaque, voluptatem. Sed dignissimos id fugit quisquam aliquid, optio tempore minima facilis sit corrupti est.</p>
  </div>
</div>


<video id="bannervideo" src="videoBG.mp4" muted loop autoplay width="100%" ></video>


<%= partial 'footer' %>

