<%= partial 'navbar2' %>
<div class="bandboxCult">
  <h1 class="band-title">MIGRATIONS / FRONTIÈRES</h1>
</div>
<div class="container">
  <div class="whitebox">
    <section>
      <h2 id="mig-title_blue">PROJET EN COURS : Migrants, donnons-leur un passeport européen !</h2>
      <br>
      <div class="textjustifybox">
        <h2>POUR UNE VÉRITABLE CITOYENNETÉ EUROPÉENNE par Philippe Cayla et Noël Chahid-Nouraï.</h2>
        <h4 class="textjustifybox">Le président d’ESF, dans une tribune publiée dans lemonde.fr et reprise par Slate et par BHL, a proposé que les migrants admis sur le territoire d’un Etat européen reçoivent un « passeport européen », pour matérialiser leur droit à la libre circulation sur le territoire européen.</h4>
        <br>
        <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><h4>Lire l'article.</h4></button>


        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <h2><strong>Donnons aux migrants un passeport européen !</strong></h2>
            <h4>Le Monde.fr | 04.09.2015 | Par Philippe Cayla.</h4>
            <br>
            <p>Le regretté <em>Viktor Tchernomyrdine</em>, alors secrétaire général du Parti communiste de l’Union soviétique, avait coutume de dire: « on a voulu faire mieux, mais ça s’est passé comme d’habitude». Peu après l’Union soviétique se désintégrait. Mr Juncker ne l’a pas encore dit, mais on sent qu’il le pense : sa proposition de quotas de migrants par état membre a été rejetée, comme d’habitude. Espérons que ce rejet n’est pas le prélude de la désintégration de l’Union européenne. Le problème de l’Europe c’est que, comme l’Union soviétique jadis, elle est dirigée sans imagination. Pour obtenirun résultat, il faut pousserle bouchon plus loin. De l’audace, encore de l’audace ! N’attendons pas que Mme Merkel, ramassant le flambeau des droits de l’homme que la France a laissé benoîtement tomber, érige l’Allemagne en nouvelle terre promise de tous les exilés, réfugiés, demandeurs d’asile ou migrants économiques.Car l’Europe a une carte à jouer, celle de la citoyenneté européenne. Celle-ci n’est actuellement qu’un appendice des citoyennetés nationales : elle est acquise automatiquement avec la nationalité d’un état membre. Beaucoup ignorent même qu’ils sont citoyens européens. C’est une communauté réduite à quelques acquêts : liberté de circulation, droit de vote aux élections municipales et européennes, quelques droits annexes. Il n’existe même pas de passeport européen : c’est tout juste si les passeports nationaux mentionnent l’Union européenne en page de couverture, la qualité de citoyen européen et les droits afférents ne sont même pas mentionnés. Osons l’impensé radical : donnons un passeport européen, non seulement à tous les étrangers en situation régulière, mais aussi à un quota européen global de migrants, demandeurs d’asile ou migrants économiques, décidé en Conseil européen, réparti entre Etats membres par le collège des Commissaires, et distribué dans chaque pays par les services de la Commission européenne dans les Etats membres. Le passeport européen « pur » ne donnerait pas la nationalité d’un quelconque état membre, mais donnerait la liberté d’aller et venir au sein de l’Union, ainsi que le droit de vote aux élections municipales et européennes, offrant au passage, pour ce qui concerne la France, une issue enfin favorable à une promesse cent fois proclamée et jamais tenue. La Commission s’honorerait de mettre sur la table une telle proposition, qui permettrait à l’Union de faire un saut qualitatif remarquable vers le renforcement de la citoyenneté européenne. La France,que son passé colonial oblige, se distinguerait en la soutenant, permettant ainsi aux peuples chez qui nous nous sommes si longtemps sentis chez nous de se sentir chez eux en venant chez nous. Philippe Cayla est président d’Européens sans frontières et ancien président du directoire d’Euronews.</p>
          </div>
        </div>
        <br><br>
        <a href="https://vimeo.com/139689503" target="_blank"><h4>Regarder Bernard-Henri Lévy sur ITélé.</h4></a>
      </div>
    </section>
    <section>
    <div class="DescMainBox">
      <div class="DescLeft">
        <h2 id ="accref">ACCUEIL DES RÉFUGIÉS</h2>
        <div class="textjustifybox">
          <h4>→ Bilan de cette animation : <a href="https://drive.google.com/file/d/1yE4yMX4j-YDgQ3xbmHTAaPF3wIWwrGoz/view?usp=sharing" target="_blank">bilans - Google Drive</a></h4><br>
          <h4>→ Réalisé à partir d’un concours auprès des étudiants en animation.</h4>
        </div>
      </div>
      <div class="DescRight">

          <h4 class="text-center">EURODAME, HELP ! (2017).</h4>

         <div class="DescRight-element ifcontainer">
           <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/ffZdZUQAT1w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="DescMainBox">
      <div class="DescLeft">
        <div class="textjustifybox">
          <h4>Interview du lauréat : Giacomo Lezzerini.</h4>
        </div>
      </div>
      <div class="DescRight">
         <div class="DescRight-element ifcontainer">
           <iframe class="responsive-iframe" width="410" height="231" src="https://www.youtube.com/embed/Zgx_sGXWodY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  </div><!-- Fin whitebox -->
  <%= partial 'footer' %>
</div><!-- Fin container -->




