<%= partial 'navbar2' %>
  <div class="whitebox">
  <br><br>
  <div class="text-center slideUp">
    <img id="logo-esf" src="images/Logo-ESF.png" alt="" style="height: 173px; width: 618px">
  </div>
    <div class="equipe-layout">
      <div class="slideUp"><h2 id="assoesf">Soutenez-nous, devenez membres.</h2></div>
        <br>
        <h4 class="bleu">En devenant membre, vous serez tenu informé régulièrement de l'avancée de nos travaux.</h4>
        <p>Nous demandons à nos membres une contribution symbolique qui permettra à l'association de disposer de moyens pour le développement et le soutien de nos actions.</p>
        <h3 class="bleu">Cette cotisation est fixée à 10 €.</h3>
        <br>
        <h4 class="bleu">Vous pouvez devenir membre bienfaiteur pour 100 € et comme le bienfait n'a pas de limite, nous vous laissons la possibilité de contribuer au-delà de cette somme !</h4>
        <hr>
        <div class="text-center">
          <img src="images/btn_donateCC_LG.gif" alt="btn-paypal">
        </div>
        <hr>
        <br>
        <h2 class="bleu">Plus encore que de votre soutien financier, nous sommes intéressés par votre participation active au développement de l'association.</h2>
        <p>Si le sujet vous passionne, si vous avez des idées, du temps, de l'énergie, tout cela à la fois, venez participer activement à notre projet.</p>
        <p>Pour cela, n'hésitez pas à nous laissez un message à contact@europeenssansfrontieres.eu</p>
    </div>
  </div>

<%= partial 'footer' %>
