<h2>L'association ESF</h2>
<h6 class="bleu">Notre mission</h6>
<p><br /> <strong class="bleu-fonce"><img src="/images/europe.png" alt="europe" style="margin: 0px 10px 0px 0px; float: left;" height="54" width="61" />Européens Sans Frontières</strong>, association loi 1901, a été créée en mai 2011.<br /> Autour de <a href="https://www.google.fr/search?q=philippe%20cayla&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;rls=org.mozilla:fr-FR:official&amp;client=firefox-a&amp;source=hp&amp;channel=np" target="_blank" title="Philippe Cayla sur Google">Philippe Cayla</a>, initiateur de l'idée qui a donné naissance à l'Initiative « <strong class="bleu-fonce">Let me Vote</strong> », se sont réunis des citoyens venant de tous horizons, que ce soit par leur pays de naissance, leur profession ou encore leur affinité politique.</p>
<p>&nbsp;</p>
<p>Ce qui les unit est le désir de continuer à faire progresser l'idéal européen au moment ou celui-ci est de plus en plus menacé par les contractions nationales que nous observons en Europe.<br /> Dans ce vaste sujet, le groupe fondateur a décidé de se concentrer sur la citoyenneté européenne.</p>
<h6><br /> <span class="bleu">Qui sait que nous avons tous automatiquement, en plus de notre citoyenneté nationale, la citoyenneté européenne? Et si nous le savons, que recouvre-t-elle elle exactement ?</span></h6>
<p><br /> C'est la mission que s'assigne l'association Européens Sans Frontières : donner chair à cette citoyenneté européenne.</p>
<p><br /> Comme l'expriment nos statuts, notre objet est « la promotion de la citoyenneté européenne auprès du grand public, des autorités françaises, européennes et internationales. Pour cela, l'association utilisera tous les moyens nécessaires tels que l'initiative citoyenne européenne, les pétitions, l'organisation de colloques, la commande d'études, de sondages et la rédaction de rapports ».</p>
<h6><br /> <span class="bleu-fonce">Notre association est jeune, aussi <span class="bleu">n'hésitez pas à nous soutenir</span> en apportant vos talents à l'équipe et/ou en nous aidant financièrement.<br /> </span></h6>
<hr />
<h3 class="bleu">Bureau ESF</h3>
<p>&nbsp;</p>
<div class="row">
<div class="col-sm-3" style="text-align: center;"><img src="/elements/portraits/Phillipe-Cayla.jpg" alt="Phillipe-Cayla" class="portraits" style="max-width: 250px;" height="auto" width="100%" /></div>
<div class="col-sm-9">
<table style="width: 250px; height: 48px; margin-bottom: 10px;" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td width="53"><img src="/elements/flags/fr.png" alt="fr" height="48" width="48" /></td>
<td class="gris-fonce">
<h6>Comité français</h6>
</td>
</tr>
</tbody>
</table>
<h6 class="bleu">Philippe CAYLA – Président d'Européens Sans Frontières</h6>
<br /> Président d'Euronews Development et membre du conseil de surveillance d'Euronews, Philippe Cayla&nbsp;a exercé depuis une trentaine d'années des fonctions dirigeantes dans plusieurs entreprises industrielles et audiovisuelles européennes: Alcatel, Matra, Eutelsat, France Télévisions, Euronews. En créant "Européens sans frontières" il a voulu transformer son expérience de terrain en engagement militant pour la cause de l'Europe.<br /> <br /> <em>« En plein débat français sur le droit de vote des immigrés, j'ai trouvé qu'on ne faisait rien pour les Européens, si proches de nous. Quelle lacune !</em><br /> <em>En lançant un appel dans Libération puis sur France Inter, je n'espérais pas être contacté par tant d'Européens motivés, qui sont devenus des amis. Ensemble nous voilà embarqués dans une aventure qui s'apparente à l'ascension de l'Everest par la face Nord : recueillir en 12 mois un million de signatures, et cela en respectant les procédures imposées par l'Union !</em><br /> <em>Je ne sais pas si nous y arriverons, mais nous sommes décidés à aller jusqu'au bout, car notre initiative est plus que citoyenne et plus qu'européenne : elle est vitale pour que tous les Européens puissent se reconnaître une communauté de destin. »</em></div>
<div class="col-xs-12"><hr /></div>
<div class="col-sm-3" style="text-align: center;"><img src="/elements/portraits/Catherine-Colona.jpg" alt="Catherine-Colona" class="portraits" style="max-width: 250px;" height="auto" width="100%" /></div>
<div class="col-sm-9">
<h6 class="bleu">Catherine COLONNA – Vice-présidente d'Européens Sans Frontières</h6>
<br /> Catherine Colonna est ancienne ministre déléguée aux Affaires européennes. Elle a été la porte-parole du président Jacques Chirac ainsi qu'Ambassadrice auprès de l'Unesco. Catherine Colonna est aujourd'hui Managing Partner du bureau de Paris du groupe Brunswick.<br /> <br /> <em>« Lorsque j'ai lu l'appel de Philippe Cayla à la fin de l'année dernière, son idée de donner le droit de vote plein et entier à tous les citoyens européens dans le pays de l'Union où ils résident m'a parue lumineuse ! Je l'ai aussitôt encouragé à poursuivre et à lancer réellement une initiative en ce sens, en le rejoignant avec beaucoup d'autres. Il est plus que temps de dire et de montrer que les Européens ne sont plus des étrangers les uns pour les autres, que la meilleure façon d'écrire notre avenir passe par l'exercice de ce droit démocratique fondamental – le droit de vote – et que nous nous sentirons d'autant plus solidaires que la citoyenneté européenne sera plus concrète. »</em></div>
<div class="col-xs-12"><hr /></div>
<div class="col-sm-3" style="text-align: center;"><img src="/elements/portraits/Catriona-Seth.jpg" alt="Catriona-Seth" class="portraits" style="max-width: 250px;" height="auto" width="100%" /></div>
<div class="col-sm-9">
<h6 class="bleu">Catriona SETH – Vice-présidente d'Européens Sans Frontières</h6>
<br /> Catriona Seth est professeur de littérature française du XVIIIe siècle à l'université de Lorraine et professeur associé au département d'histoire de l'université Laval (Québec). Elle dirige des masters et thèses en cotutelle avec différents pays européens. Elle est l'auteur de nombreux travaux sur la littérature du siècle des Lumières et l'histoire des idées.<em><br /> <br /> « Européenne convaincue, élevée dans différents pays, je trouve à titre personnel, depuis de nombreuses années, anormal d'être fonctionnaire de l'Etat français, de former les générations futures de la République, de payer mes impôts en France, et de ne pas pouvoir voter. La tribune de Philippe Cayla, le projet d'une ICE, m'ont paru apporter une réponse à ce dysfonctionnement du processus démocratique. Je crois que l'Europe a besoin de citoyens mobiles et ouverts, impliqués dans le pays dans lequel ils résident. Leur donner le droit de vote constituerait un progrès pour eux, pour les nations qui les accueillent, pour l'avenir de l'Europe. »</em></div>
<div class="col-xs-12"><hr /></div>
<div class="col-sm-3" style="text-align: center;"><img src="/elements/portraits/Charles-Morel.jpg" alt="Charles-Morel" class="portraits" style="max-width: 250px;" height="auto" width="100%" /></div>
<div class="col-sm-9">
<h6 class="bleu">Charles MOREL – Secrétaire Général d’Européen sans frontières</h6>
<br /> Ancien Secrétaire de la Conférence, Charles MOREL est avocat, spécialisé en propriété intellectuelle et en droit de la presse. Sa pratique professionnelle comme ses engagements citoyens le conduisent à s’impliquer régulièrement avec les problématiques européennes.<em><br /> <br /> « Sans renoncer en rien à l'identité nationale, passage obligé de l'identité européenne, médiatrice et mère nourricière d'une appartenance plus large et pour l'heure plus abstraite, nous devons avoir la volonté et le courage d’une Europe fédérale, riche de sa diversité et parlant d’une seule voix, portant sur la scène mondiale avec autorité ses valeurs et approfondissant sur son territoire l’exigence démocratique. La génération à laquelle j’appartiens a grandi dans un univers mental supra-national. Elle porte en elle la volonté de franchir le gué d’un véritable partage de souveraineté et de redonner à l’ambition européenne sa fraîcheur utopique et son enthousiasme des débuts. »</em></div>
<div class="col-xs-12"><hr /></div>
<div class="col-sm-3" style="text-align: center;"><img src="/elements/portraits/Alain-Brun.jpg" alt="Alain-Brun" class="portraits" style="max-width: 250px;" height="auto" width="100%" /></div>
<div class="col-sm-9">
